*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.register-container{
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
width: 500px;
padding: 40px;
background-color: rgb(242, 242, 242);
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.265);
border-radius: 5px;
gap: 20px;
}

.register-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 25px;
    margin-bottom: 20px;
}

.register-container form label{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.register-container form input, .register-container form button{
    padding: 10px 13px;
    width: 100%;
    font-size: larger;
    outline: none;
    border: none;
    background-color:white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.083);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.register-container form button{
    font-weight: 600;
}

.register-container form input:hover, .register-container form button:hover{
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
}

.register-container form button{
    background-color: rgb(220, 220, 220);
    color: #005B99;
    cursor: pointer;
}

.register-container div{
display: flex;
gap: 10px;
}
